.projects-menu {
    width: 25%;
    min-height: 100vh;
    border-right: 1px solid black;



    &__menu {
        width: 100%;
        height: 85%;
        padding-top: 15px;
        overflow-y: auto;
    }

    &__title {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__addForm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 15%;
        margin: 0;

    }

    &__button {
        width: 90%;
        height: 60%;
        font-family: $font-family;
        font-size: 2rem;
        border: none;
        margin: 0 auto 15px;
        transition: $button-transition;
        background-color: $first-color;
        box-shadow: 0 0 3px black;

        &:hover {
            color: white;
            background-color: darken($first-color, 10%);
        }
    }

    &__input-project {
        width: 90%;
        font-size: 1.8rem;
        line-height: 3rem;
        margin: 0 auto;
        padding-left: 10px;
        border: none;
        border-bottom: 1px solid gray;

        &:hover {
            border-bottom: 2px solid gray;
        }

        &:hover::placeholder {
            color: lightgray;
        }
    }

    &__project {
        width: 90%;
        margin: 0 auto;

    }
}