<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Mateusz Kuchta">
  <title>Licznik czasu pracy</title>
  <script src="https://kit.fontawesome.com/56705bb8ba.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <aside class="projects-menu">
        <section class="projects-menu__menu">
          <h1 class="projects-menu__title">Projekty</h1>
          <ul class="project-menu__list">
          </ul>
        </section>

        <form class="projects-menu__addForm">
          <input type="text" class="projects-menu__input-project" placeholder="Nowy projekt..." name="newProject" required>
          <button class="projects-menu__button">Dodaj projekt</button>
        </form>      
    </aside>

    <main class="active-tasks">
      <h1 class="active-tasks__title">Aktywne zadania</h1>
      <section class="active-tasks__tasks">
        <div class="active-tasks__task active-task">
          <h3 class="active-task__project-name">Projekt: </h3>
          <h3 class="active-task__task-name">Zadanie: </h3>
          <section class="active-task__counter">
            <div class="active-task__hours time">00</div>
            <span>:</span>
            <div class="active-task__minutes time">00</div>
            <span>:</span>
            <div class="active-task__seconds time">00</div>
          </section>
          <button class="active-task__button-count">Licz czas</button>
        </div>

        <div class="active-tasks__task active-task">
          <h3 class="active-task__project-name">Projekt: </h3>
          <h3 class="active-task__task-name">Zadanie: </h3>
          <section class="active-task__counter">
            <div class="active-task__hours time">00</div>
            <span>:</span>
            <div class="active-task__minutes time">00</div>
            <span>:</span>
            <div class="active-task__seconds time">00</div>
          </section>
          <button class="active-task__button-count">Licz czas</button>
        </div>

        <div class="active-tasks__task active-task">
          <h3 class="active-task__project-name">Projekt: </h3>
          <h3 class="active-task__task-name">Zadanie: </h3>
          <section class="active-task__counter">
            <div class="active-task__hours time">00</div>
            <span>:</span>
            <div class="active-task__minutes time">00</div>
            <span>:</span>
            <div class="active-task__seconds time">00</div>
          </section>
          <button class="active-task__button-count">Licz czas</button>
        </div>

    
      </section>

      <div class="active-tasks__buttons">
        <button class="active-tasks__break button">Przerwa</button>
        <button class="active-tasks__pass button">Przepustka</button>
      </div>
     
      
     <section class="active-tasks__summary">
      
       <div class="active-tasks__statistics">
        <h2 class="active-tasks__work-time">Przepracowany czas:</h2>
        <h2 class="active-tasks__saturation">Saturacja:</h2>
       </div>
       <button class="active-tasks__day-end">Koniec dnia</button>
     </section>
    </main>
  </div>
</body>

</html>