<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Mateusz Kuchta">
  <title>Licznik czasu pracy</title>
  <script src="https://kit.fontawesome.com/56705bb8ba.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <aside class="projects-menu">
        <section class="projects-menu__menu">
          <h1 class="projects-menu__title">Projekty</h1>
          <ul class="project-menu__list">
          </ul>
        </section>

        <form class="projects-menu__addForm">
          <input type="text" class="projects-menu__input-project" placeholder="Nowy projekt..." name="newProject" required>
          <button class="projects-menu__button">Dodaj projekt</button>
        </form>      
    </aside>

    <main class="active-tasks">
      <h1 class="active-tasks__title">Aktywne zadania</h1>
      <section class="active-tasks__tasks">


      </section>

      <div class="active-tasks__buttons">
        <button class="active-tasks__break button" data-id="break">Przerwa</button>
        <button class="active-tasks__day-end button">Koniec dnia</button>
      </div>
     
     <section class="active-tasks__summary">
      
       <div class="active-tasks__statistics">
        <h2 class="active-tasks__total-time">Całkowity czas:  <span class="active-tasks__span-total"> 0h 0m</span></h2>
        <h2 class="active-tasks__work-time">Czas pracy: <span class="active-tasks__span-work"> 0h 0m</span></h2>
        <h2 class="active-tasks__break-time">Przerwa: <span class="active-tasks__span-break"> 00:00:00</span></h2>
       </div>
       <button class="active-tasks__reset">Reset</button>
    
      </section>
    </main>

    <!-- <div class="warning">
      <h1 class="warning__title">UWAGA !</h1>
      <p class="warning__text"></p>
      <div class="warning__buttons">
        <button class="warning__btn" data-result="yes">Tak</button>
        <button class="warning__btn" data-result="no">Nie</button>
      </div> -->
    
    </div>
  </div>
</body>

</html>